<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tudelft.trustchain.literaturedao">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />

    <application>
        <activity android:name=".LiteratureDaoActivity$Test" />
    </application>
</manifest>
