<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tudelft.trustchain.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="nl.tudelft.trustchain.app.TrustChainApplication">

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:label="IPv8 Apps"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="nl.tudelft.trustchain.explorer.ui.TrustChainExplorerActivity"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name="nl.tudelft.trustchain.debug.DebugActivity"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name="nl.tudelft.trustchain.trader.ui.TrustChainTraderActivity"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name="nl.tudelft.trustchain.payloadgenerator.ui.TrustChainPayloadGeneratorActivity"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name="nl.tudelft.trustchain.currencyii.MainActivity"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <activity
            android:name="nl.tudelft.trustchain.FOC.MainActivityFOC"
            android:parentActivityName=".ui.dashboard.DashboardActivity" />

        <service android:name="nl.tudelft.trustchain.app.service.TrustChainService" />
    </application>

</manifest>
